<footer>
  <div class="section__footer">
  <div class="ico__arrow-top">
  <a href="./index.html#top">
    <img 
      src="./assets/images/ico-arrow.svg"
      alt="Flecha para volver al principio de la página"
      title="Flecha para volver al principio de la página"
  /></a></div>
  <div class="content__footer">
    <nav class="nav__footer__article">
      <ul class="nav__footer__list">
        <li class="footer__list__item">
          <a
        href="https://adalab.es"
        target="_blank"
        title="Ir a la página de Adalab"
      >
          Articles
        </li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Books</li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Events</li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Reasons</li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Tips</li>
      </ul>
    </nav>
    <nav class="nav__footer__twitter">
      <ul>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Twitter</li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Instagram</li>
        <li class="footer__list__item"><a
          href="https://adalab.es"
          target="_blank"
          title="Ir a la página de Adalab"
        >Mastodon.Social</li>
      </ul>
    </nav>
  </div>
  <div>
    <small class="copy">
      &copy;2020
      <p class="paragraph__heart">
        we
        <img class="heart__img"
          src="./assets/images/ico-heart.png"
          alt="Corazón rojo"
          title="Corazón rojo"
        />
        components
      </p>
    </small>
  </div></div>
</footer>
