<footer>
  <div>
    <nav>
      <ul>
        <li>Articles</li>
        <li>Books</li>
        <li>Events</li>
        <li>Reasons</li>
        <li>Tips</li>
      </ul>
    </nav>
    <nav>
      <ul>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Mastodon.Social</li>
      </ul>
    </nav>
  </div>
  <div>
    <small>
      &copy;2020
      <p>
        we
        <img
          src="./assets/images/ico-heart.png"
          alt="Corazón rojo"
          title="Corazón rojo"
        />
        components
      </p>
    </small>
  </div>
</footer>
