<header>
  <section class="hero">
    <div class="hero__content-img">
      <div class="content__hero__title">
        <h1 class="hero__title">Anonymous proxy</h1>
        <small class="hero__title__small"
          >In hac habitasse platea dictumst.</small
        >
      </div>
      <img
        class="hero__img"
        id="top"
        src="./assets/images/cover.jpg"
        alt="Foto de la ciudad amaneciendo"
        title="Foto de la ciudad amaneciendo"
      />
    </div>
    <div class="ico-scroll-down">
      <a href="./index.html#sec-3-reasons">
        <img
          src="./assets/images/ico-scroll-down.svg"
          alt="Icono para bajar en la página"
          title="Ir a la sección de las Razones"
      /></a>
    </div>
    <div class="ico-menu">
      <a
        href="https://adalab.es"
        target="_blank"
        title="Ir a la página de Adalab"
      >
        <img
          src="./assets/images/ico-menu.svg"
          alt="Enlace a Adalab"
          title="Enlace a Adalab"
      /></a>
    </div>
  </section>
</header>
