a {
  text-decoration: none;
  font-family: $font-roboto-regular;
  color: $color-light;
}
.content__footer {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.section__footer {
  margin-top: -127px;
  width: 320px;
  background-color: $color-dark-midtone;
  position: relative;
  @media all and (min-width: 768px) {
    width: 768px;
    height: 240px;
  }
  @media all and (min-width: 1200px) {
    width: 1280px;
    height: 240px;
  }
}
.nav__footer__article {
  font-family: $font-roboto-sans;
  width: 73px;
  height: 150px;
  text-align: center;
  margin-top: 10px;
  margin-left: 114px;
  display: block;
  justify-content: space-between;
  @media all and (min-width: 768px) {
    width: 210px;
    height: 150px;
    text-align: start;
    margin-top: -1px;
    margin-left: -45px;
  }
  @media all and (min-width: 1200px) {
    width: 161px;
    height: 150px;
    text-align: start;
    margin-left: 35px;
  }
}
.nav__footer__twitter {
  font-family: $font-roboto-sans;
  width: 147px;
  height: 90px;
  text-align: center;
  margin-top: 30px;
  margin-left: 77px;
  @media all and (min-width: 768px) {
    width: 210px;
    height: 90px;
    text-align: start;
    order: -1;
    margin-top: -52px;
    margin-left: -5px;
    margin-right: 69px;
  }
  @media all and (min-width: 1200px) {
    width: 159px;
    height: 90px;
    text-align: start;
    margin-right: 380px;
  }
}
.ico__arrow-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $color-light;
  border-radius: 50%;
  position: relative;
  margin-top: 38px;
  top: -25px;
  margin-left: 130px;
  transform: translate(0, -50%);
  animation-name: arrow;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @media all and (min-width: 768px) {
    margin-left: 362px;
  }
  @media all and (min-width: 1200px) {
    margin-left: 618px;
  }
}
@keyframes arrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
.footer__list__item {
  list-style: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.paragraph__heart {
  font-family: $font-roboto-sans;
  width: 290px;
  height: 30px;
  font-size: 14px;
  margin-bottom: 45px;
  margin-left: 5px;
  color: $color-light;
  padding-top: 7px;
  @media all and (min-width: 768px) {
    width: 210px;
    height: 30px;
    margin-left: 39px;
    margin-bottom: 95px;
    text-align: start;
    order: 1;
  }
  @media all and (min-width: 1200px) {
    width: 159px;
    height: 30px;
    margin-left: 370px;
  }
}
.heart__img {
  width: 14px;
  height: 14px;
}
.copy {
  width: 77px;
  height: 30px;
  font-family: $font-roboto-sans;
  font-size: 14px;
  text-align: center;
  margin-left: 131px;
  margin-bottom: 75px;
  color: $color-light;
  @media all and (min-width: 768px) {
    width: 210px;
    height: 30px;
    margin-left: 39px;
    margin-top: 45px;
  }
  @media all and (min-width: 1200px) {
    width: 159px;
    height: 30px;
    margin-left: 370px;
  }
}
