/* main__sec__looking*/
// .content__sec__looking {
//   width: 320px;
//   height: 376px;
// }
.main__sec__looking {
  width: 320px;
  height: 376px;
  margin-top: -4px;
}

.small {
  font-family: "Roboto Regular", arial;
  font-size: 14px;
  color: #8ccbea;
  width: 90px;
  height: 30px;
  margin-left: 15px;
  top: 30px;
}

.title2 {
  font-family: "Roboto Slab Bold", arial;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-transform: capitalize;
  width: 290px;
  height: 60px;
  margin-left: 15px;
}

.paragraph {
  font-family: "Roboto Regular", arial;
  font-size: 18px;
  color: #4a4a4a;
  width: 290px;
  height: 120px;
  margin-left: 15px;
}

.button__go {
  text-align: center;
  font-family: "Roboto Medium", arial;
  font-size: 20px;
  width: 76px;
  height: 45px;
  background-color: white;
  color: #f26002;
  border: solid 2px;
  border-radius: 22.5px;
  top: 30px;
  margin-left: 15px;
}

@media all and (min-width: 768px) {
  .main__sec__looking {
    margin-top: -370px;
    margin-left: 39px;
    width: 768px;
    height: 330px;
  }
  .title2 {
    width: 690px;
    height: 45px;
    font-size: 26px;
  }
  .paragraph {
    width: 690px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
  }
  .button__go {
    width: 91px;
    height: 45px;
    position: relative;
    margin-top: -30px;
  }
}
