/* main sec reasons */

.content__sec__reasons {
  width: 320px;
  height: 624px;
  background-color: #eff9ff;
  top: -90px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.reason {
  font-family: "Roboto Slab Bold";
  font-size: 24px;
  text-transform: capitalize;
  font-weight: bold;
  width: 290px;
  height: 30px;
  text-align: center;
  margin-top: 30px;
}
.item {
  width: 184px;
  height: 30px;
  font-family: "Roboto Slab Bold", arial;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-left: 53px;
  margin-top: 45px;
}
.element {
  width: 180px;
  height: 63px;
  font-family: "Roboto Regular", arial;
  font-size: 18px;
  text-align: center;
  margin-left: 55px;
}
.button__more {
  width: 184px;
  height: 45px;
  font-family: "Roboto Medium", arial;
  font-size: 20px;
  text-align: center;
  background-color: #f26002;
  border: solid 2px;
  color: white;
  border-radius: 22.5px;
  margin-left: 55px;
  margin-top: 45px;
}
.reason1 {
  grid-row: 1;
  grid-column-start: 1;
}
.reason2 {
  grid-row: 2;
  grid-column-start: 1;
}
.reason3 {
  grid-row: 3;
  grid-column-start: 1;
}
.reason4 {
  grid-row: 4;
  grid-column-start: 1;
}
.reason5 {
  grid-row: 5;
  grid-column-start: 1;
}
.reason6 {
  grid-row: 6;
  grid-column-start: 1;
}
.reason7 {
  grid-row: 7;
  grid-column-start: 1;
}
.reason8 {
  grid-row: 8;
  grid-column-start: 1;
}

@media all and (min-width: 768px) {
  .content__sec__reasons {
    width: 768px;
    height: 397px;
  }
  .reason {
    width: 690px;
    height: 45px;
    font-size: 26px;
  }
  .item {
    width: 210px;
    height: 30px;
    font-size: 24px;
    // margin-left: 38px;
    // margin-top: 45px;
  }
  .element {
    width: 212.3px;
    height: 68px;
    font-size: 20px;
    // margin-left: 35.7px;
  }
  .button__more {
    width: 210px;
    height: 45px;
    margin-left: 278px;
    margin-top: 60px;
  }
  .reason4 {
    grid-row: 2;
    grid-column-start: 2;
  }
  .reason5 {
    grid-row: 3;
    grid-column-start: 2;
  }
  .reason6 {
    grid-row: 2;
    grid-column-start: 3;
  }
  .reason7 {
    grid-row: 3;
    grid-column-start: 3;
  }
}
