/* main sec looking */
.main__sec__looking {
  width: 320px;
  height: 376px;
  margin-top: -4px;
  @media all and (min-width: 768px) {
    width: 768px;
    height: 330px;
  }
  @media all and (min-width: 1200px) {
    width: 1280px;
    height: 360px;
  }
}
.small {
  font-family: $font-roboto-sans;
  font-size: 14px;
  text-transform: capitalize;
  color: $color-light-midtone;
  width: 90px;
  height: 30px;
  margin-left: 15px;
  top: 30px;
  @media all and (min-width: 768px) {
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    margin-left: 275px;
  }
}
.title2 {
  font-family: $font-roboto-slab;
  font-size: 24px;
  font-weight: $font-weight-bold;
  color: $color-dark;
  text-transform: capitalize;
  width: 290px;
  height: 60px;
  margin-left: 15px;
  @media all and (min-width: 768px) {
    width: 690px;
    height: 45px;
    font-size: 26px;
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    height: 45px;
    margin-left: 275px;
  }
}
.paragraph {
  font-family: $font-roboto-sans;
  font-size: 18px;
  color: $color-midtone;
  width: 290px;
  height: 120px;
  margin-left: 15px;
  margin-top: 20px;
  @media all and (min-width: 768px) {
    width: 690px;
    height: 60px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    width: 730px;
    height: 60px;
    margin-left: 275px;
  }
}
.button__go {
  text-align: center;
  font-family: $font-roboto-medium;
  font-size: 20px;
  width: 76px;
  height: 45px;
  background-color: $color-light;
  color: $color-button;
  border: solid 2px;
  border-radius: 22.5px;
  top: 30px;
  margin-left: 15px;
  transition: background-color 0.5s;
  @media all and (min-width: 768px) {
    width: 91px;
    height: 45px;
    position: relative;
    margin-bottom: 60px;
    margin-left: 39px;
  }
  @media all and (min-width: 1200px) {
    width: 160px;
    height: 45px;
    margin-left: 275px;
  }
}
.button__go:hover {
  background-color: $color-dark-midtone;
}
