/* main sec reasons */
.content__sec__reasons {
  width: 320px;
  height: 624px;
  background-color: $color-light-background;
  top: -90px;
  position: relative;
  display: grid;
  align-self: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 250px 250px 250px;
}
.reason {
  font-family: $font-roboto-slab;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: $font-weight-bold;
  width: 290px;
  height: 30px;
  margin-top: 30px;
}
.item {
  width: 184px;
  height: 30px;
  font-family: $font-roboto-slab;
  font-size: 18px;
  font-weight: $font-weight-bold;
  color: $color-dark;
  margin-left: 53px;
  margin-top: 45px;
}
.element {
  width: 180px;
  height: 63px;
  font-family: $font-roboto-sans;
  font-size: 18px;
  text-align: center;
  margin-left: 55px;
}
.button__more {
  width: 184px;
  height: 45px;
  font-family: $font-roboto-medium;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  background-color: $color-button;
  border: solid 2px;
  color: $color-light;
  border-radius: 22.5px;
  margin-left: 55px;
  margin-bottom: 45px;
  transition: background-color 0.5s;
}
.button__more:hover {
  background-color: $color-dark-midtone;
}
.reason1 {
  grid-row: 1;
  grid-column-start: 1;
  margin-left: 27px;
}
.reason2 {
  grid-row: 2;
  grid-column-start: 1;
  margin-left: 110px;
  margin-top: 62px;
}
.reason3 {
  grid-row: 3;
  grid-column-start: 1;
  margin-left: 76px;
  margin-top: -15px;
}
.reason4 {
  grid-row: 4;
  grid-column-start: 1;
  margin-left: 98px;
}
.reason5 {
  grid-row: 5;
  grid-column-start: 1;
  margin-left: 80px;
}
.reason6 {
  grid-row: 6;
  grid-column-start: 1;
  margin-left: 110px;
}
.reason7 {
  grid-row: 7;
  grid-column-start: 1;
  margin-left: 80px;
}
.reason8 {
  grid-row: 8;
  grid-column-start: 1;
  margin-left: 20px;
}

@media all and (min-width: 768px) {
  .content__sec__reasons {
    width: 768px;
    height: 397px;
    justify-content: center;
  }
  .reason {
    width: 450px;
    height: 45px;
    font-size: 26px;
    margin-left: 243px;
    text-align: center;
    align-self: center;
  }
  .item {
    width: 210px;
    height: 30px;
    font-size: 24px;
    margin-left: 38px;
    text-align: center;
    align-self: center;
  }
  .element {
    width: 212.3px;
    height: 68px;
    font-size: 20px;
    margin-left: 35.7px;
    text-align: center;
    align-self: center;
  }
  .button__more {
    width: 210px;
    height: 45px;
    margin-left: 259px;
    margin-bottom: 60px;
  }
  .reason1 {
    margin-left: 160px;
  }
  .reason2 {
    margin-top: 42px;
  }
  .reason3 {
    margin-top: 0px;
  }
  .reason4 {
    grid-row: 2;
    grid-column-start: 2;
  }
  .reason5 {
    grid-row: 3;
    grid-column-start: 2;
  }
  .reason6 {
    grid-row: 2;
    grid-column-start: 3;
  }
  .reason7 {
    grid-row: 3;
    grid-column-start: 3;
  }
}
@media all and (min-width: 1200px) {
  .content__sec__reasons {
    width: 1280px;
    height: 427px;
  }
  .reason {
    width: 730px;
    height: 45px;
    font-size: 32px;
    margin-left: 0px;
  }
  .item {
    width: 350px;
    height: 30px;
    margin-left: 0px;
  }
  .element {
    width: 351.8px;
    height: 115px;
    margin-left: 0px;
  }
  .button__more {
    width: 255px;
    height: 45px;
    margin-left: 245px;
    grid-row: 4;
    grid-column-start: 2;
  }
  .reason1 {
    margin-left: -3px;
  }
  .reason2 {
    margin-left: -163px;
    margin-top: 45px;
  }
  .reason3 {
    margin-left: -163px;
    margin-top: 0px;
  }
  .reason4 {
    margin-left: -75px;
  }
  .reason5 {
    margin-left: -68px;
  }
  .reason6 {
    margin-left: 60px;
  }
  .reason7 {
    margin-left: 50px;
  }
}
